{% extends 'front/base.html' %}

{% block content %}
<br><br><br>
<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/sections/bruno-abatti.jpg');">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            <div class="card card-register">
              <h3 class="card-title">Registrasi</h3>
              <form class="register-form" method="POST">
                {% csrf_token %}
                <label>Username</label>
                <input name="username" type="text" class="form-control no-border" placeholder="Username">
                
                <label>Password</label>
                <input name="password" type="password" class="form-control no-border" placeholder="Password">
               
                <label>Nama Depan</label>
                <input name="nama_depan" type="text" class="form-control no-border" placeholder="nama depan">

                <label>Nama Belakang</label>
                <input name="nama_belakang" type="text" class="form-control no-border" placeholder="nama belakang">

                <label>Email</label>
                <input name="email" type="email" class="form-control no-border" placeholder="email">

                <label>Alamat</label>
                <textarea class="form-control no-border" name="alamat" id="" cols="30" rows="10"></textarea>

                <label>Nomor Telpon</label>
                <input name="telp" type="text" class="form-control no-border" placeholder="no telp">

                <button class="btn btn-danger btn-block btn-round">register</button>
              </form>
              <div class="forgot">
                <a href="{% url 'login' %}" class="btn btn-link btn-danger">Back?</a>
              </div>
              <br><br><br>
              <br><br><br>
              <br><br><br>
              <br><br><br>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock content %}